<a class="back" routerLink="../..">Back To Course</a>

<div class="lesson-detail" *ngIf="(lesson$ | async) as lesson">

  <h3>{{lesson.description}}</h3>

  <h5>Duration: {{lesson.duration}}</h5>

  <div class="video-container">

    <button mat-icon-button [disabled]="lesson.first" (click)="previous(lesson.seqNo)">
      <mat-icon class="nav-button">
        navigate_before
      </mat-icon>
    </button>

    <iframe width="400" height="220" frameborder="0" allowfullscreen
      [src]="('https://www.youtube.com/embed/' + lesson?.videoId) | safeUrl">

    </iframe>

    <button mat-icon-button [disabled]="lesson.last" (click)="next(lesson.seqNo)">
      <mat-icon class="nav-button">
        navigate_next
      </mat-icon>
    </button>

  </div>

</div>
